@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Poppins",sans-serif;
}
.footerBox{
    
    background:var(--color-bg) ;
    width:100%;
    height: 200px;
    display: flex;
    gap:150px;
    border-top: 5px solid black;
    padding: 50px;  
}
.logo{
    font-size: 1.4rem;
    color: white;
    font-weight: normal;
}

.logoSirname{
    color:var(--text-second-color);
    font-weight: bold;
}

.IconsBox>ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
.linksBoxTitles{
    color: var(--text-second-color);
    font-weight: bold;
}
.navlink{
    color: var(--text-main-color);
    border-bottom: 1px solid transparent;
    &:hover{
        color:var(--text-second-color);
        border-bottom: 2px solid var(--text-main-color);
        font-weight: bold;
    }
}
.linksBox{
    display:flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.iconStyle{
    color:#FFF9E6; 
    display: inline-flex;
   &:hover{
    color:black;
    transition: color 0.5s ease;
    transform: scale(1.2) ;
    transition: transform 0.3s ease-out;
   }
}
.copyrightBox{
    background:var(--color-bg);
    width: 100%;
    display:inline-block;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.separator{
    border: none;
    border-top: 2px solid black;
    width: 100%;
}  
.logoText{
    text-align:justify;
    width: 500px;
    color: #FFF9E6;
    font-weight: normal;
    font-size: 1.1rem;
    height: auto;

}
.copyright{
    color: var(--text-main-color);
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 500px;
    margin-top: 10px;
}

@media screen and (max-width:1200px) {
    .footerBox{
        width: 100vh;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .copyright{
        margin-left: 400px;
    }
}

@media screen and (max-width:1033px) {
    .footerBox{
        width: auto;
    }
}

@media screen and (max-width:769px){
    .footerBox{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 50px;
        padding-top: 60px;
        width: auto;
    }
  
    .copyright{
        margin-left: 250px;

    }
    .logoText{
        width: 350px;
        font-size: 1rem;
    }
}

@media screen and (max-width:580px) {
    .copyright{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}
@media screen and (max-width:430px) {
    .logoText{
        width: 280px;
    }
}
@media screen and (max-width:370px) {
    .logoText{
        width: 200px;
    }
}

